<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




<style>
	.button {
		border-radius: 10px;
		border:1px solid black;
		padding: 9px;
		width: 90px;
		margin:5px;
		background-color: blue;
	}
	.bottom_banner {
		position: absolute;
		bottom:0;
		height: 100px;
	}
	.top_banner {
		width: 100%;
	}
	.filler {
		height:500px;
		padding: 50px;
		width:100%;
	}


</style>
</head>
<body>


<div class="top_banner">
  <img src="/images/lighthouse.jpg" alt="HTML5 Icon" style="width:180px; height:128px;">
  <img src="/images/topic.jpg">
</div>

<div class="half_container" style="background-image: url(/images/dove.jpg) ">
     <div class="filler">
     	<font size="7">"Lighthouses are not just</font><br> <font size="7">stone, brick, metal, and glass.</font><br> <font size="7"> There's a human story at every</font><br> <font size="7"> lighthouse; that's the </font><br> <font size="7">story I want to tell."</font><br>
     	<p>-Elinor Dewire</p>
     </div>



    
      <a class="btn btn-primary" href="/users/index">Membership</a>
    
    <div class="bottom_banner">
	
    </div>
</div>
</body>
</html>
