<h1>Create User</h1>

<form action="/users" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>First Name</p>
  <input type="text" name="user[first_name]">
  <p>Last Name</p>
  <input type="text" name="user[last_name]">
  <p>Email</p>
  <input type="text" name="user[email]">
  <br>
  <input type="submit" name="create" value="Create User">
  <a href="/users/index">Back</a>
	
</form>